// Navigation Styles here

.head{
    width: 100%;
    border-bottom: 2px dashed @navigation-border;
    .display(@justify:center);
    padding: 20px 0;

    @media @mobile{
        flex-wrap: wrap;
        justify-content: space-around;
    }

    h1{
        margin-right: 28%;

        @media @mobile{
            margin-right: 8%;
            padding-bottom: 10px;
        }  
    }
    .nav{
        
        a{
            text-decoration: none;
            font-size: 1.8rem;
            color: @shark;
            padding-left: 20px;

            @media @mobile{
                padding-left: 45px;
                font-size: 1.6rem;
            }

            &:first-child{
                padding-left: 0;
            }

            &:hover{
                border: 1px @shark;
                color: @eastern-blue;
            }
        }
    }
}