// Navigation Styles here

.head{
    width: 100%;
    border-bottom: 2px dashed @navigation-border;
    .display(@justify:center);
    padding: 20px 0;

    h1{
        margin-right: 28%;
    }
    .nav{
        
        a{
            text-decoration: none;
            font-size: 1.8rem;
            color: @shark;
            padding-left: 20px;
            &:first-child{
                padding-left: 0;
            }
        }
    }
}